[Unit]
Description=Battery Level Alert Timer
After=graphical-session.target
PartOf=graphical-session.target

[Timer]
OnStartupSec=30s
OnUnitInactiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
