install.conf
installlog.txt
archnikus.code-workspace
configs/setup.conf

# keep logs out
configs/*.log

# Replit-specific files
.replit
replit.nix
.upm/
.cache/
.pythonlibs/
replit.md
.breakpoints
docs/implementation-plans